<p style="color: green"><%= notice %></p>

<%= render @restaurant %>
<ul class="list-group">
  <h2>Reviews:</h2>
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <div class= "d-flex">
        <p>rating:</p>
        <%= review.rating %>
      </div>
      <%= review.content %>
    </li>
  <% end %>
</ul>

<div>|
  <%= link_to "Back to restaurants", restaurants_path , class: "btn btn-primary mt-2"%>
  <%= link_to "Create a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary mt-2" %>

</div>
